@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner {
    padding: 40px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal.active {
  display: block;
}
.banner {
  background-size: cover;
  padding: 80px;
  text-align: center;
}

.btn {
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}
.image-wrapper {
  position: relative;
  overflow: hidden;
}

.plus-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

/* 🔥 Hover effect */
.plus-btn:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}